<html lang="es" ng-app='reto_covid'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="view/Bootstrap/bootstrap-5.1.2-dist/css/bootstrap.css">
    <script src="view/Bootstrap/bootstrap-5.1.2-dist/js/bootstrap.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="view/css/footer.css">
    <link rel="stylesheet" href="view/css/style.css">

    <title>Página de Inicio</title>
</head>

<body>
    <!--NAVBAR-->
    <div id="navbar"></div>

    <div class="row py-2">
        <div class="col-lg-7 col-md-7 col-sm-12 ">
            <div class="text-center p-5">
                <img src="view/img/informacion-covid.png" class="img-fluid py-2">
                <img src="https://www.grupoaseguranza.com/adjuntos/fichero_36627_20200625.jpg"
                    class="img-fluid py-2 w-50">
                <img src="view/img/pruebas_covid.png" class="img-fluid py-2">
            </div>
        </div>
        <!-- login-->
        <div class="col-lg-5 col-md-5 col-sm-12  login">


            <div class="form_login bg-light rounded border">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                            type="button" role="tab" aria-controls="home" aria-selected="true"><i class="fas fa-user"></i> &nbsp ACCESO PACIENTES</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                            type="button" role="tab" aria-controls="profile" aria-selected="false"><i class="fas fa-user-md"></i> &nbsp RED
                            TRABAJADORES</button>
                    </li>
                </ul>
                <!-- PANES USUARIOS -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <form class="p-3">
                            <!-- TIS input -->
                            <div class="form-floating mb-4">
                                <input type="text" class="form-control" id="tis" value=" ">
                                <label for="tis">TIS (ej.: 12345678)</label>
                            </div>
                            
                            <!-- Birth Date input -->
                            <div class="form-floating mb-4">
                                <input type="date" class="form-control" id="birthDate">
                                <label for="birthDate">Fecha de nacimiento</label>
                            </div>

                            <!-- Submit button -->
                            <div class="text-center">
                                <button type="button" class="btn btn-primary btn-block" ng-click='login()'>Sign
                                    in</button>
                            </div>
                        </form>
                    </div>
                    <!-- PANEL TRABAJADORES -->
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <form ng-controller="loginController" class="p-3">
                            <!-- Email input -->
                            <div class="form-floating mb-4">
                                <input type="text" class="form-control" ng-model='usuario' />
                                <label class="form-label" for="loginUser">DNI (e.j.: 12345678A) </label>

                            </div>

                            <!-- Password input -->
                            <div class="form-floating mb-4">
                                <input type="password" class="form-control" ng-model='password' />
                                <label class="form-label" for="loginPasswordr">Contraseña  </label>

                            </div>

                            <!-- Submit button -->
                            <div class="text-center">
                                <button type="button" class="btn btn-primary btn-block" ng-click='login()'>Sign
                                    in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center py-5 my-5 trabajo">
        <h1 class="title">Trabajamos con aseguradoras de ámbito nacional e internacional</h1>
        <p>Quirónsalud presta servicios asistenciales a través de diferentes acuerdos con un amplio espectro de
            compañías aseguradoras. Solicita cita en alguno de nuestros centros que tienen acuerdo con estas
            aseguradoras.</p>

        <button type="button" class="btn btn-primary text-light"> <i class="fas fa-calendar"></i> Pedir cita</button>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 m-3 title text-center">
        <div class="col">
            <div class="card h-100">
                <img src="https://www.osakidetza.euskadi.eus/images/ab84-servicios-atencion-16-9.jpg"
                    class="card-img-top img-responsive" alt="...">
                <h5 class="overlay-text bg-white p-1">Atención a pacientes</h5>

            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://www.osakidetza.euskadi.eus/images/ab84-servicios-telefono-16-9.jpg"
                    class="card-img-top img-responsive" alt="...">
                <h5 class="overlay-text bg-white p-1">Atención telefónica</h5>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://www.osakidetza.euskadi.eus/images/home/ab84-home-innovacion.jpg"
                    class="card-img-top img-responsive" alt="...">
                <h5 class="overlay-text bg-white p-1">Investigación e innovación</h5>

            </div>
        </div>

    </div>

    <div class="container py-2">

        <div id="carousel" class="">
            <div class="carousel-inner">
                <div class="item">
                    test1
                </div>
                <div class="item">
                    test2
                </div>
                <div class="item">
                    test3
                </div>
                <div class="item">
                    test4
                </div>
                <div class="item">
                    test5
                </div>
            </div>
            <button class="carousel-control" type="button" data-slide="next">
                next
            </button>
            <button class="carousel-control" type="button" data-slide="prev">
                prev
            </button>
        </div>

    </div>

    <!--FOOTER-->
    <id id="footer"></id>

</body>
<!--SCRIPTS-->
<script src="view/js/jquery-3.6.0.js"></script>
<script src="view/js/angular.min.js"></script>
<script src="view/js/bootstrap.bundle.min.js"></script>
<script src="view/js/global.js"></script>
<script src="view/js/script.js"></script>
<script src="view/js/insert.js"></script>
<script src="https://kit.fontawesome.com/c4fc8a3024.js"></script>

</html>