<html lang="es" ng-app='reto_covid'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="view/Bootstrap/bootstrap-5.1.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="view/css/footer.css">
    <link rel="stylesheet" href="view/css/style.css">
    <link rel="stylesheet" href="view/css/index.css">

    <title>Página de Inicio</title>
</head>

<body ng-controller="main">
    <div class="loader-page"></div>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-angle-double-up px-1"></i></button>

    <!--NAVBAR-->
    <div id="navbar"></div>

    <div class="row py-5 parallax"
        style="background-image: url('https://www.grupoaseguranza.com/adjuntos/fichero_36627_20200625.jpg'); ">
        <div class="col-lg-7 col-md-7 col-sm-12 ">
            <div class="text-center p-5">
                <img src="view/img/informacion-covid.png" class="img-fluid py-2">

                <img src="view/img/pruebas_covid.png" class="img-fluid py-2">
            </div>
        </div>
        <!-- login-->
        <div id="login" class="col-lg-5 col-md-5 col-sm-12  login" ng-controller='login'>


            <div id='formLogin' class="form_login bg-light rounded border">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                            type="button" role="tab" aria-controls="home" aria-selected="true"><i
                                class="fas fa-user"></i> &nbsp ACCESO PACIENTES</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                            type="button" role="tab" aria-controls="profile" aria-selected="false"><i
                                class="fas fa-user-md"></i> &nbsp RED
                            TRABAJADORES</button>
                    </li>
                </ul>
                <!-- PANES USUARIOS -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <form class="p-3">
                            <!-- TIS input -->
                            <div class="form-floating mb-4">
                                <input type="text" class="form-control" id="tis" ng-model="tis" required>
                                <label for="tis">TIS (ej.: 12345678)</label>
                            </div>

                            <!-- Birth Date input -->
                            <div class="form-floating mb-4">
                                <input type="date" class="form-control" id="birthDate" ng-model='fecha_nac' required>
                                <label for="birthDate">Fecha de nacimiento</label>
                            </div>

                            <!-- Submit button -->
                            <div class="text-center">
                                <button type="button" class="btn btn-primary btn-block" ng-click='login("loginTis")'
                                    onClick="window.location.reload();">Sign
                                    in
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- PANEL TRABAJADORES -->
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <form class="p-3">
                            <!-- Email input -->
                            <div class="form-floating mb-4">
                                <input type="text" class="form-control" ng-model='dni' required />
                                <label class="form-label" for="dni">DNI (e.j.: 12345678A) </label>

                            </div>

                            <!-- Password input -->
                            <div class="form-floating mb-4">
                                <input type="password" class="form-control" ng-model='password' required />
                                <label class="form-label" for="password">Contraseña </label>

                            </div>

                            <!-- Submit button -->
                            <div class="text-center">
                                <button type="button" class="btn btn-primary btn-block" ng-click='login("loginDni")'
                                    onClick="window.location.reload();">Sign
                                    in</button>
                                    
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="loggedSanitario"
                class="w-100 h-100 m-3 bg-light rounded border align-content-center justify-content-center d-none p-3">
                <div class="h-25 btn-primary rounded-top text-center align-middle py-3">
                    Informacion de sesion
                </div>
                <div class="p-2 m-2">
                    <p><u>Nombre y apellido:</u> {{ usuario.nombre }} {{usuario.apellido}}</p>
                    <p><u>DNI:</u> {{ usuario.dni }}</p>
                    <p><u>Cargo:</u> {{usuario.cargo}}</p>
                    <div class="text-center">
                        <button class="btn btn-primary" ng-click="login('logout')">Log Out</button>
                    </div>
                </div>

            </div>
            <div id="loggedUser" class="w-100 h-100 m-3 bg-light rounded border p-3 d-none text">
                <div class="h-25 btn-primary rounded-top text-center align-middle py-3">
                    Informacion de sesion
                </div>
                <div class="p-2 m-2">
                    <p><u>Nombre y apellido:</u> {{ usuario.nombre }} {{usuario.apellido}}</p>
                    <p><u>TIS:</u> {{ usuario.tis }}</p>
                    <p><u>Fecha de nacimiento:</u> {{usuario.fecha_nacimiento}}</p>
                    <div class="text-center">
                        <button class="btn btn-primary" ng-click="login('logout')">Log Out</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <section id="counts" class="counts bg-light">
        <div class="container">

            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="fas fa-user-md"></i>
                        <a href="" class="text-dark">Médicos</a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                    <div class="count-box">
                        <i class="far fa-hospital"></i>
                        <a href="" class="text-dark">Departamentos</a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="fas fa-flask"></i>
                        <a href="" class="text-dark">Laboratorios</a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="fas fa-award"></i>
                        <a href="" class="text-dark">Premios</a>
                    </div>
                </div>

            </div>

        </div>
    </section>


    <div class="row row-cols-1 row-cols-md-3 g-4 m-3 title text-center">
        <div class="col p-2">
            <div class="card h-100">
                <img src="https://www.osakidetza.euskadi.eus/images/ab84-servicios-atencion-16-9.jpg"
                    class="card-img-top img-responsive" alt="...">
                <h5 class="overlay-text bg-white p-1">Atención a pacientes</h5>

            </div>
        </div>
        <div class="col p-2">
            <div class="card h-100">
                <img src="https://www.osakidetza.euskadi.eus/images/ab84-servicios-telefono-16-9.jpg"
                    class="card-img-top img-responsive" alt="...">
                <h5 class="overlay-text bg-white p-1"> Atención telefónica 24/7</h5>
            </div>
        </div>
        <div class="col p-2">
            <div class="card h-100">
                <img src="https://www.osakidetza.euskadi.eus/images/home/ab84-home-innovacion.jpg"
                    class="card-img-top img-responsive" alt="...">
                <h5 class="overlay-text bg-white p-1">Investigación e innovación</h5>

            </div>
        </div>
    </div>

    <div class="text-center py-5 my-5 trabajo">
        <h1 class="title">Trabajamos con aseguradoras de ámbito nacional e internacional</h1>
        <p>Quirónsalud presta servicios asistenciales a través de diferentes acuerdos con un amplio espectro de
            compañías aseguradoras. Solicita cita en alguno de nuestros centros que tienen acuerdo con estas
            aseguradoras.</p>

        <button type="button" class="btn btn-primary text-light"> <i class="fas fa-calendar"></i> Pedir cita</button>
    </div>


 <!-- ======= Doctors Section ======= -->
 <section id="doctors" class="doctors py-4">
    <div class="container">

      <div class="section-title text-center">
        <h2>EQUIPO</h2>
        <p>Nuestro equipo es el mejor y más cualificado de todo el continente.</p>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="https://gluc.mx/u/fotografias/m/2020/4/12/f638x638-25551_83718_5050.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Oswaldo Gonzales</h4>
              <span>Director Médico</span>
              <p>Mejor neurocirujano del país.</p>
              <div class="social">
                <a><i class="fab fa-twitter"></i></a>
                <a><i class="fab fa-facebook"></i></a>
                <a><i class="fab fa-instagram"></i></a>
                <a> <i class="fab fa-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="https://images.genius.com/9f12218d22645a652f7b6784ee188850.489x489x1.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Lebron Jhonson</h4>
              <span>Director general ejecutivo</span>
              <p>Soy uno de los mejores en lo mio.</p>
              <div class="social">
                <a><i class="fab fa-twitter"></i></a>
                <a><i class="fab fa-facebook"></i></a>
                <a><i class="fab fa-instagram"></i></a>
                <a> <i class="fab fa-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="https://pbs.twimg.com/media/EPn2-qmXUAE7e7F.jpg" class="img-fluid" alt=""> </div>
            <div class="member-info">
              <h4>Juan Anderson</h4>
              <span>Director General y RRHH</span>
              <p>Asume la dirección de la plataforma y recursos humanos.</p>
              <div class="social">
                <a><i class="fab fa-twitter"></i></a>
                <a><i class="fab fa-facebook"></i></a>
                <a><i class="fab fa-instagram"></i></a>
                <a> <i class="fab fa-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="https://www.planetadelibros.com/usuaris/autores/fotos/70/original/000069559_1_Folagor_201708142218.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Yoel Jepson</h4>
              <span>Soporte</span>
              <p>Toda la ayuda, donde y cuando la necesites.</p>
              <div class="social">
                <a><i class="fab fa-twitter"></i></a>
                <a><i class="fab fa-facebook"></i></a>
                <a><i class="fab fa-instagram"></i></a>
                <a> <i class="fab fa-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Doctors Section -->

    
    <!--FOOTER-->
    <id id="footer"></id>

</body>
<!--SCRIPTS-->
<script src="https://kit.fontawesome.com/c4fc8a3024.js"></script>
<script src="view/js/jquery-3.6.0.js"></script>
<script src="view/js/angular.min.js"></script>
<script src="view/js/bootstrap.bundle.min.js"></script>
<script src="view/js/global.js"></script>
<script src="view/js/script.js"></script>
<script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

</html>