<html lang="es" ng-app='reto_covid'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="view/Bootstrap/bootstrap-5.1.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="view/css/footer.css">
    <link rel="stylesheet" href="view/css/style.css">
    <link rel="stylesheet" href="view/css/paginaSanitarios.css">

    <title>Página Sanitarios - Perulabs</title>

</head>

<body ng-controller="main">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 p-3 text-white  " style="background-color: #036666;">
            <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"> <svg
                    class="bi me-2" width="40" height="32"> </svg> <span class="fs-4">{{usuario.nombre}}
                    {{usuario.apellido}}</span> </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">

                <li> <a href="#" id="informes" class="nav-link text-white"> <i class="fa fa-scroll"></i><span
                            class="ms-2" ng-click="cambiarinformes()">Pacientes</span> </a> </li>
                <li> <a href="#" id="agendaSanitaria" class="nav-link text-white"> <i class="fa fa-book"></i><span
                            class="ms-2" ng-click="cambiaragenda()">Agenda sanitaria</span> </a> </li>
                <li> <a href="#" id="datosPersonales" class="nav-link text-white"> <i class="fas fa-user"></i><span
                            class="ms-2" ng-click="cambiardatos()">Datos personales</span> </a> </li>
                <li> <a href="#" id="configuracionVacuna" class="nav-link text-white"> <i class="fas fa-cog"></i><span
                            class="ms-2" ng-click="cambiarVacunas()">Configurar vacuna</span> </a> </li>
            </ul>
            </ul>
            <hr>
        </div>



        <div id="infoAgenda" class="col-lg-10 col-md-10 col-sm-12 vh-100 infoOpcion p-4" style="display: none;">
            <div class="container">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th>Company</th>
                            <th>Contact</th>
                            <th>Country</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Alfreds Futterkiste</td>
                            <td>Maria Anders</td>
                            <td>Germany</td>
                        </tr>
                        <tr>
                            <td>Centro comercial Moctezuma</td>
                            <td>Francisco Chang</td>
                            <td>Mexico</td>
                        </tr>
                        <tr>
                            <td>Alfreds Futterkiste</td>
                            <td>Maria Anders</td>
                            <td>Germany</td>
                        </tr>
                        <tr>
                            <td>Centro comercial Moctezuma</td>
                            <td>Francisco Chang</td>
                            <td>Mexico</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div id="infoInformes" class="col-lg-10 col-md-10 col-sm-12 vh-100 infoOpcion p-4">
            <h1 class="title">Pacientes</h1>
            <hr>
            <div class="row">
                <div class="col-sm-12 col-md-6 ">
                    <h2>Pedir cita</h2>
                    <input type="date" name="" id="">
                    <input type="time" name="" id="">

                </div>
                <div class="col-sm-12 col-md-6 ">
                    <h2>Dar de alta/baja a un cliente</h2>
                    <form action="">

                    </form>
                </div>
            </div>
        </div>

        <div id="infoVacunas" class="col-lg-10 col-md-10 col-sm-12 vh-100 infoOpcion p-4" ng-controller="editarVacunas">
            <h1 class="title">Informacion Vacunas</h1>
            <hr>
            <h2>Lista vacunas</h2>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>Company</th>
                        <th>Contact</th>
                        <th>Country</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                    </tr>
                    <tr>
                        <td>Centro comercial Moctezuma</td>
                        <td>Francisco Chang</td>
                        <td>Mexico</td>
                    </tr>
                    <tr>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                    </tr>
                    <tr>
                        <td>Centro comercial Moctezuma</td>
                        <td>Francisco Chang</td>
                        <td>Mexico</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <button class="btn text-white" style="background-color:#036666; border-color: #036666;"> Añadir vacuna</button>
            </div>
        </div>

        <!-- DATOS PERSONALES DEL SANITARIO -->
        <div id="infoDatosPersonales" class="col-lg-10 col-md-10 col-sm-12 vh-100 p-4 infoOpcion"
            ng-controller="datosPersonales" style="display: none;">
            <div class="text-center row">
                <div class="col-10">
                    <h1 class="title ">DATOS PERSONALES</h1>
                </div>

                <div class="col-2">
                    <button ng-click="editableInput = !editableInput" class="btn btn-warning">Editar</button>
                </div>
            </div>
            <form>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-md-2 col-lg-2 text-center p-2">
                        <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-photo-183042379.jpg"
                            srcset="" class="img-fluid img-perfil img-thumbnail">

                    </div>
                    <div class="mb-4 col-sm-6 col-md-4 col-lg-5 p-1 m-auto">
                        <div class="form-floating ">
                            <input type="text" class="form-control" id="nombreTrabajador" ng-model="nombre"
                                input-disabled="editableInput">
                            <label for="nombreTrabajador">Nombre</label>
                        </div>
                        <br>
                        <div class="form-floating ">
                            <input type="text" class="form-control" id="dniTrabajador" ng-model="dni"
                                input-disabled="editableInput">
                            <label for="dniTrabajador">DNI</label>
                        </div>
                    </div>
                    <div class="mb-4 col-sm-12 col-md-4 col-lg-5 p-1 m-auto">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="apellidoTrabajador" ng-model="apellido"
                                input-disabled="editableInput">
                            <label for="tis">Apellido</label>
                        </div>
                        <br>
                        <div class="form-floating">
                            <input type="text" class="form-control" id="cargoTrabajador" ng-model="cargo" disabled>
                            <label for="tis">Cargo</label>
                        </div>
                    </div>
                    <div class="p-3">
                        <h5 class="text">Actualizar foto de perfil: </h5>
                        <div class="input-file">
                            <input type="file" id="file" class="input-file-input " disabled />
                            <label for="" class="input-file-btn"></label>
                        </div>
                    </div>
                    <div class="text-center">
                        <button id="btnGuardar" ng-click="updateSanitario()" class="btn btn-primary"> Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

<!--SCRIPTS-->
<script src="https://kit.fontawesome.com/c4fc8a3024.js"></script>
<script src="view/js/jquery-3.6.0.js"></script>
<script src="view/js/angular.min.js"></script>
<script src="view/js/bootstrap.bundle.min.js"></script>
<script src="view/js/global.js"></script>
<script src="view/js/paginaSanitarios.js"></script>

</html>