/*INICIO FORMULARIO*/
.bgImg {
    background-image: url(https://images.adsttc.com/media/images/570d/4584/e58e/ce87/b300/000e/large_jpg/1._NICOLAS_SAIEH.jpg?1460487544);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5%;
}

#formulario {
    background-color: #99E2B4;
    width: 70%;
    padding: 5%;
    margin: auto;
    box-shadow: 5px 10px;
}

/*FIN FORMULARIO*/

/*INICIOMAPA*/
.bg-light{
    background-color: #99E2B4;
}
.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 70%;
    width: 100%;
    position: absolute;
}

/*FIN MAPA*/

/*INICIO CONTAINER DE ABAJO*/

.caja2 {
    background-color: #67B99A;
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
}

.caja2 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.caja2 p {
    margin: 0px;
    padding: 0px;
}

.caja2 h4 {
    margin-left: 10px;
    color: rgb(255, 255, 255);
    font-family: title;
    text-align: center;
    font-size: 30px;
}

