
.contenedorgeneral{
    display: flex;
    flex-direction: row;
}

/* INICIO MENU LATERAL */
body {
    background-color: #eee
}

.nav-link .fa {
    transition: all 1s
}

.nav-link:hover .fa {
    transform: rotate(360deg)
}
.nav-link .fas {
    transition: all 1s
}

.nav-link:hover .fas {
    transform: rotate(360deg)
}
.covid{
    font-size: 40px;
}

/* FIN MENU LATERAL */
/* CONTAINER */
.container{
    background-color: #c9f8e4;
    height: 100vh;
    width: 90vw;
    position: absolute;
    margin-left: 16vw;
    margin-top: -100vh;
    display:flex;
    flex-direction: column;
}
/* FIN CONTAINER */

/* INICIO AGENDA */
.cardsAgenda{
    display: flex;
    align-items: center;
    
    
}
.agendaOptions{
    display:flex;
    flex-direction: row;
    margin-top: 10%;
    
}
.agendaOpt{
    height: 25vh;
    width: 15vw;
    background-color: white;
    border: 0px solid #1C6EA4;
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 19px 5px rgba(0,0,0,0.27); 
    box-shadow: 5px 5px 19px 5px rgba(0,0,0,0.27);
    margin: 5%;
    text-align: center;
    padding-top: 4.5em;
    padding-left: 2em;
    padding-right: 2em;
    font-weight: bold;
}
.agendaOpt:hover{
    background-color: rgb(238, 232, 232);
    transform: scale(1.1);
    transition: 0.5s ease-out; 
    
    
}
.general{
    display: flex;
}
/* FIN AGENDA */
/* INICIO INFORMES */
.informe{
    padding: 5%;
    
}
/* FIN INFORMES */
/* INICIO COVID AREA */
.vacuna{
    padding: 5%;
    
}
.vacunaOptions{
    display:flex;
    flex-direction: row;
    margin-top: 10%;
    
}
.vacunaOpt{
    height: 25vh;
    width: 15vw;
    background-color: white;
    border: 0px solid #1C6EA4;
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 19px 5px rgba(0,0,0,0.27); 
    box-shadow: 5px 5px 19px 5px rgba(0,0,0,0.27);
    margin: 5%;
    text-align: center;
    padding-top: 4.5em;
    padding-left: 2em;
    padding-right: 2em;
    font-weight: bold;
    
}
.vacunaOpt:hover{
    background-color: rgb(238, 232, 232);
    transform: scale(1.1);
    transition: 0.5s ease-out; 
    
    
}
.datos{
    margin-left: 4vw;
    margin-top: 4vh;
}
/* FIN COVID AREA */
/* FOTO PERFIL */
.wrapper {
   
    margin: 10px auto;
    max-width: 600px
}
.img {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    object-fit: cover
}


