
.contenedorgeneral{
    display: flex;
    flex-direction: row;
}

/* INICIO MENU LATERAL */
body {
    background-color: #eee
}

.nav-link .fa {
    transition: all 1s
}

.nav-link:hover .fa {
    transform: rotate(360deg)
}
.nav-link .fas {
    transition: all 1s
}

.nav-link:hover .fas {
    transform: rotate(360deg)
}
.covid{
    font-size: 40px;
}

/* FIN MENU LATERAL */
/* CONTAINER */
.container{
    /* background-color: #c9f8e4;  */
    height: auto;
    width: 100%;
    position: absolute;
    margin-left: 16vw;
    margin-top: -100vh;
    display:flex;
    flex-direction: column;
}
#aside{
    height: 1000px;
    width: 1000px;
}
.principal{
    width: 100% ;
    height: auto;
}
/* FIN CONTAINER */

/* INICIO AGENDA */
.agenda{
    padding: 5%;
    display: none;
    
}
.agendaOptions{
    display:flex;
    flex-direction: row;
    margin-top: 10%;
    
}
.agendaOpt{
    height: 25vh;
    width: 15vw;
    background-color: white;
    border: 0px solid #1C6EA4;
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 19px 5px rgba(0,0,0,0.27); 
    box-shadow: 5px 5px 19px 5px rgba(0,0,0,0.27);
    margin: 5%;
    text-align: center;
    padding-top: 4.5em;
    padding-left: 2em;
    padding-right: 2em;
    font-weight: bold;
}
.agendaOpt:hover{
    background-color: rgb(238, 232, 232);
    transform: scale(1.1);
    transition: 0.5s ease-out; 
    
    
}

/* FIN AGENDA */
/* INICIO INFORMES */
.informe{
    padding: 5%;
    display: none;
}
/* FIN INFORMES */
/* INICIO COVID AREA */
.vacuna{
    padding: 5%;
    
}
.vacunaOptions{
    display:flex;
    flex-direction: row;
    margin-top: 10%;
    
}
.vacunaOpt{
    height: 25vh;
    width: 15vw;
    background-color: white;
    border: 0px solid #1C6EA4;
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 19px 5px rgba(0,0,0,0.27); 
    box-shadow: 5px 5px 19px 5px rgba(0,0,0,0.27);
    margin: 5%;
    text-align: center;
    padding-top: 4.5em;
    padding-left: 2em;
    padding-right: 2em;
    font-weight: bold;
    
}
.vacunaOpt:hover{
    background-color: rgb(238, 232, 232);
    transform: scale(1.1);
    transition: 0.5s ease-out; 

}

/* FIN COVID AREA */

/*INICIO MIS VACUNAS*/


@media screen and (max-width: 600px) {
    table {
        width:100%;
    }
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr td:first-child {
        background: #f0f0f0;
        font-weight:bold;
        font-size:1.3em;
    }
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
}
@media screen and (max-width: 320px) {
    table {
      display: block;
      overflow-x: auto;
    }
}
/*FIN MIS VACUNAS*/