.title {
    font-family: title;
    font-size: 20px;
}

a {
    color: black;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;

}

/*Fuentes*/

@font-face {
    font-family: text;
    src: url(../fonts/Champagne\ &\ Limousines.ttf);
}

@font-face {
    font-family: title;
    src: url(../fonts/BebasNeue-Regular.ttf);
}