<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/contacto.css">
    <title>Contacto</title>
</head>
<body>
<!-- [ Header ] start -->
    <div>
    </div>
    <!-- [ Header ] end -->
<div class="container">
    <div class="uno">
        <li>Araba:<a href="">945 14 69 13</a></li>
        <li>Gipuzkoa:<a href="">943 02 30 30</a></li>
        <li>OSI Barakaldo-Sestao:<a href="">945 00 64 69</a></li>
        <li>OSI Barrualde-Galdakao:<a href="">945 00 60 61</a></li>
        <li>OSI Bilbao- Basurto:<a href="">944 03 36 10</a></li>
        <li>OSI Ezkerraldea-Enkarterri Cruces:<a href="">944 03 36 11</a></li>
        <li>OSI Uribe:<a href="">944 03 36 11</a></li>
    </div>
    <div class="dos">
        <li>Araba:<a href="">945 14 69 13</a></li>
        <li>Gipuzkoa:<a href="">943 02 30 30</a></li>
        <li>OSI Barakaldo-Sestao:<a href="">945 00 64 69</a></li>
        <li>OSI Barrualde-Galdakao: <a href="">945 00 60 61</a></li>
        <li>OSI Bilbao- Basurto: <a href="">944 03 36 10</a></li>
        <li>OSI Ezkerraldea-Enkarterri Cruces:<a href="">944 03 36 11</a></li>
        <li>OSI Uribe:<a href="">944 03 36 11</a></li>
    </div>
</div>
<div class="container2">
    <div class="bat">
        <p>El Banco de Leche Materna de Euskadi se encuentra en el Centro Vasco de Transfusiones y Tejidos Humanos.</p>

        <p>Barrio Labeaga 46A, 48960 Galdakao</p>
        
        <p>Tel. <a href="">944 579 375</a></p>
        
        <p><a href="">bancolecheeuskadi@osakidetza.eus</a></p>
    </div>
    <div class="bi">
       <h4>Bizkaia:</h4>
       <p><a href="">alcerbizkaia@alcerbizkaia.com</a></p>

       <p><a href="">atcore.bizkaia@gmail.com</a></p>

        <p>tfno.:<a href="">94-4598750</a></p>
    </div>
    <div class="hiru">
       <p>Coordinación Trasplantes Araba:
<a href="">945 00 62 91</a></p>

<p>Coordinación Trasplantes Bizkaia:
<a href="">94 403 36 01</a></p>

<p>Coordinación Trasplantes Gipuzkoa:
<a href="">943 00 70 00</a></p>

<p>Centro Vasco de Transfusión y Tejidos Humanos:<a href="">900 30 34 04</a></p>

<p>Más información:<a href="">infodmo@osakidetza.eus</a></p>
    </div>
</div>
</body>
</html>