<html lang="es" ng-app='reto_covid_intranet'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="../Bootstrap/bootstrap-5.1.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/paginaPreguntasF.css">

    <!-- FAQ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="icon" href="../img/icono.jpg">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/paginaPreguntasF.css">
    <link rel="stylesheet" href="../css/extranet.css">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- FAQ -->
    <title>Página de Inicio</title>
</head>

<body ng-controller="body">

    <div id="navbar"></div>
    <div class="loader-page"></div>

    <!-- PaneLateral -->
    <div id="paneLateral" class='fixed-top'>
        <h1 class="fs-3 p-2 text-white text-center title">{{ usuario.nombre }} {{ usuario.apellido }} </h1>

        <ul class="nav nav-pills flex-column mb-auto px-2">

            <li class="border-top " ng-click="loadContent('AGENDA')">
                <!-- AGENDA -->
                <a href="" class="nav-link text-white btnAgenda">
                    <i class="fa fa-book fs-5"></i>
                    <span class="fs-5">Agenda Sanitaria</span>
                </a>
            </li>

            <li class="" ng-click="loadContent('INFORME')">
                <!-- INFORME -->
                <a href="" class="nav-link text-white">
                    <i class="fa fa-scroll"></i>
                    <span class="fs-5 btnInforme">Informes</span>
                </a>
            </li>

            <li class="datosLateral" ng-click="loadContent('DATOS')">
                <!-- DATOS -->
                <a href="" class="nav-link text-white btnAgenda">
                    <i class="fas fa-user fs-5"></i>
                    <span class="fs-5">Datos Personales</span>
                </a>
            </li>

            <li class="" ng-click="loadContent('COVID')">
                <!-- COVID -->
                <a href="" class="nav-link text-white btnAgenda">
                    <i class="fa fa-virus fs-5"></i>
                    <span class="fs-5 ">COVID</span>
                </a>
            </li>

            <li class="border-top border-bottom">
                <!-- SEPARADOR -->
                <a href="" class="nav-link text-white">
                    <span class="fs-5 btnAgenda">SEPARADOR</span>
                </a>
            </li>

            <li class="border-bottom">
                <!-- PEDIRCITA -->
                <a href="" class="nav-link text-white" ng-click="loadContent('pedirCita')">
                    <span class="fs-5 btnAgenda">PedirCita</span>
                </a>
            </li>

            <li class="border-bottom">
                <!-- VERCITA -->
                <a href="" class="nav-link text-white" ng-click="loadContent('verCitas')">
                    <span class="fs-5">verCitas</span>
                </a>
            </li>

            <li class="border-bottom">
                <!-- VERVACUNAS -->
                <a href="" class="nav-link text-white" ng-click="loadContent('verVacunas')">
                    <span class="fs-5">verVacunas</span>
                </a>
            </li>

        </ul>


        <button type="submit" class="btn btn-outline-success" value="Enviar" id="btnEnviar"><a
                src="../index.html"></a>BACK</button> <!-- style="background-color: #358f80; color: white;" -->
    </div>
    <!-- PaneLateral -->


    <!-- Contenido -->
    <div id="contenido" class="p-2">
        <!-- AGENDA -->
        <div class="row mx-0 d-flex justify-content-around" ng-show="show=='default' || show=='AGENDA'">

            <div class="card shadow-sm covidCard" style="width: 18rem;">
                <img src="../img/citaprevia.png" class="card-img-top w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">CITA</h5>
                    <div class="text-center my-4"> <a
                            href="https://zitaberria.osakidetza.eus/o22PlamWar/o22JSP/O22jsplogin.jsp" target="_blank"
                            class="btn" style="background-color: #358f80; color: white;">PEDIR CITA</a> </div>
                </div>
            </div>

            <div class="card shadow-sm covidCard" style="width: 18rem;">
                <img src="../img/agenda.png" class="card-img-top w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">MIS CITAS</h5>
                    <div class="text-center my-4"> <a href="#" class="btn"
                            style="background-color: #358f80; color: white;">REVISAR</a> </div>
                </div>
            </div>

            <div class="card shadow-sm covidCard" style="width: 18rem;">
                <img src="../img/cirugia.png" class="card-img-top w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">ESPERA CIRUGIA</a></h5>
                    <div class="text-center my-4"> <a
                            href="https://www.osakidetza.euskadi.eus/servicios-on-line/-/servicios-a-la-ciudadania/"
                            target="_blank" class="btn" style="background-color: #358f80; color: white;">COMPROBAR</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- INFORME  -->
        <div class="row mx-0 d-flex justify-content-around" ng-show="show=='default' || show=='INFORME'">

            <div class="card shadow-sm covidCard" style="width: 18rem;">
                <img src="../img/infobasica.png" class="card-img-top w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">INFORMACIÓN BÁSICA</h5>
                    <div class="text-center my-4"> <a href="#" class="btn"
                            style="background-color: #358f80; color: white;">VER</a> </div>
                </div>
            </div>

            <div class="card shadow-sm covidCard" style="width: 18rem;">
                <img src="../img/medicinas.png" class="card-img-top w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">MIS MEDICACIONES</h5>
                    <div class="text-center my-4"> <a
                            href="https://micarpetasaludberria.osakidetza.eus/web/guest/acceso" target="_blank"
                            class="btn" style="background-color: #358f80; color: white;">VER</a> </div>
                </div>
            </div>

            <div class="card shadow-sm covidCard" style="width: 18rem;">
                <img src="../img/informe.png" class="card-img-top w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">INFORMES MÉDICOS</h5>
                    <div class="text-center my-4"> <a
                            href="https://micarpetasaludberria.osakidetza.eus/web/guest/acceso" target="_blank"
                            class="btn" style="background-color: #358f80; color: white;">VER</a> </div>
                </div>
            </div>
        </div>

        <!-- DATOS PERSONALES -->
        <div class="row mx-0 d-flex justify-content-around" ng-show="show=='DATOS'">

            <div class="d-flex justify-content-center align-items-center mb-3">
                <h1 class="text-center title">Datos Personales</h1>
            </div>
            <div class="wrapper">

                <div class="d-flex align-items-start py-3 border-bottom"> <img id="fotoPerfil"
                        src="https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        class="img imgPerfil" alt="">
                    <div class="pl-sm-4 pl-2 p-2" id="img-section"> <b>Foto de perfil</b>
                        <div class="input-file">
                            <input type="file" id="fotoPerfil" onchange="changeFitx()" class="input-file-input"
                                accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" />
                            <label for="fotoPerfil" class="input-file-btn"></label>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels fw-bold">Numero TIS</label><input id="pacienteTIS"
                            type="text" class="form-control" placeholder="Numero TIS bloqueado" value="" disabled></div>
                    <div class="col-md-6"><label class="labels fw-bold">Fecha nacimiento</label><input id="pacienteFecha_nac"
                            type="text" class="form-control" placeholder="Numero TIS bloqueado" value="" disabled></div>
                </div>
                <div class="row mt-2">

                    <div class="col-md-6"><label class="labels fw-bold">Nombre</label><input id="pacienteNombre"
                            type="text" class="form-control" value=""></div>
                    <div class="col-md-6"><label class="labels fw-bold">Apellido</label><input id="pacienteApellido"
                            type="text" class="form-control" value=""></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 mt-1"><label class="labels fw-bold">Email</label><input type="text"
                            id="pacienteEmail" class="form-control" placeholder="Correo electronico" value=""></div>
                    <div class="col-md-12 mt-1"><label class="labels fw-bold">Telefono</label><input type="text"
                            id="pacienteTelefono" class="form-control" placeholder="Telefono" value=""></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels fw-bold">Poblacion</label><input type="text"
                            id="pacienteDireccion" class="form-control" placeholder="Direccion" value=""></div>
                    <div class="col-md-6">
                        <div class="form-outline mb-4 w-100">
                            <label class="fw-bold" for="newPacienteDireccion">Localidad</label>
                            <select name="" id="localidad" ng-model="localidad" class="form-control form-select">
                                <option value="{{usuario.objLocalidad.cod}}">{{ usuario.objLocalidad.nombre }}</option>
                                <option value="{{localidad.cod}}" ng-repeat='localidad in localidades' ng-if='localidad.nombre != usuario.objLocalidad.nombre'>
                                    {{localidad.nombre}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="my-5 text-center">
                    <button class="btn btn-primary profile-button" type="button" ng-click="updatePaciente()">GUARDAR
                        CAMBIOS</button>
                    <button class="btn btn-danger profile-button" type="button" ng-click="discardChanges()">DESCARTAR
                        CAMBIOS</button></div>
            </div>
        </div>

        <!-- COVID -->
        <div class="row mx-0 d-flex justify-content-around" ng-show="show=='default' || show=='COVID'">
            <div class="card shadow-sm covidCard" style="width: 18rem;">
                <img src="../img/citavacuna.png" class="card-img-top w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">CITA VACUNACIÓN</h5>
                    <div class="text-center my-4"> <a href="#" class="btn"
                            style="background-color: #358f80; color: white;">PEDIR CITA</a> </div>
                </div>
            </div>

            <div class="card shadow-sm covidCard" style="width: 18rem;">
                <img src="../img/agendavacunas.png" class="card-img-top w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">MIS VACUNAS</h5>
                    <div class="text-center my-4"> <a href="#" class="btn"
                            style="background-color: #358f80; color: white;">VER</a> </div>
                </div>
            </div>

            <div class="card shadow-sm covidCard" style="width: 18rem;">
                <img src="../img/faqs.png" class="card-img-top w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">PREGUNTAS FRECUENTES</h5>
                    <div class="text-center my-4"> <a href="#" class="btn"
                            style="background-color: #358f80; color: white;" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">VER</a> </div>
                </div>
            </div>

        </div>

        <!-- COVID MODAL -->
        <div class="row mx-0 d-flex justify-content-around" style="margin-top: 7%;">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Preguntas Frecuentes</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="card-header" id="hpregunta1" style="background-color: white;">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#pregunta1"
                                aria-expanded="true" aria-controls="pregunta1" role="button" style="font-size: 19px;">
                                ¿Con qué profesionales puedo reservar una cita?<span class="lni-chevron-up"></span></h6>
                        </div>

                        <div class="collapse" id="pregunta1">
                            <div class="card card-body mt-0">

                                <ul>
                                    <li>Médico o médica de cabecera</li>
                                    <li>Pediatra</li>
                                    <li>Matrona</li>
                                    <li>Enfermería</li>

                                </ul>

                            </div>
                        </div>
                        <div class="card-header" id="hpregunta2" style="background-color: white;">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#pregunta2"
                                aria-expanded="true" aria-controls="pregunta2" role="button" style="font-size: 19px;">
                                ¿Cuál es el número de la TIS?<span class="lni-chevron-up"></span></h6>
                        </div>

                        <div class="collapse" id="pregunta2">
                            <div class="card card-body mt-0">
                                <p>
                                    El número de la TIS es necesario para identificarse y solicitar Cita Previa.
                                    Independientemente del tipo de tarjeta (ONA, Tarjeta Sanitaria Electrónica o
                                    TIS), es un número de 8 cifras que viene impreso junto al nombre. Lo podrás
                                    encontrar donde está indicado por la flecha:</p>
                                <img src="../img/tarjetaindicadora.jpg">
                            </div>
                        </div>

                        <div class="card-header" id="hpregunta3" style="background-color: white;">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#pregunta3"
                                aria-expanded="true" aria-controls="pregunta3" role="button" style="font-size: 19px;">
                                ¿Qué es el Covid?<span class="lni-chevron-up"></span></h6>
                        </div>

                        <div class="collapse" id="pregunta3">
                            <div class="card card-body mt-0">
                                <p>
                                    El COVID-19 (enfermedad del coronavirus 2019) es una enfermedad causada por un
                                    virus llamado SARS-CoV-2 y fue descubierta en diciembre del 2019 en Wuhan,
                                    China. Es muy contagioso y se ha propagado rápidamente en todo el mundo.

                                    Los síntomas más frecuentes del COVID-19 son respiratorios, muy parecidos a los
                                    de un resfriado, influenza o neumonía. El COVID-19 puede atacar a otras partes
                                    de su organismo además de sus pulmones y sistema respiratorio. Otras partes de
                                    su cuerpo también pueden verse afectadas por la enfermedad.
                                </p>
                            </div>
                        </div>
                        <div class="card-header" id="hpregunta4" style="background-color: white;">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#pregunta4"
                                aria-expanded="true" aria-controls="pregunta4" role="button" style="font-size: 19px;">
                                ¿Tengo Covid?<span class="lni-chevron-up"></span></h6>
                        </div>

                        <div class="collapse" id="pregunta4">
                            <div class="card card-body mt-0">
                                <p>
                                    <ul>
                                        <li>Fiebre o escalofríos</li>
                                        <li>Tos</li>
                                        <li>Dificultad para respirar</li>
                                        <li>Fatiga</li>
                                        <li>Dolores musculares y corporales</li>
                                        <li>Dolor de cabeza</li>
                                        <li>Perdida reciente de olfato o del gusto</li>
                                        <li>Dolor de garganta</li>
                                        <li>Congestión o moqueo</li>
                                        <li>Náuseas o vómitos</li>
                                        <li>Diarrea</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                        <div class="card-header" id="hpregunta5" style="background-color: white;">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#pregunta5"
                                aria-expanded="true" aria-controls="pregunta5" role="button" style="font-size: 19px;">
                                Cuando buscar atención médica<span class="lni-chevron-up"></span></h6>
                        </div>

                        <div class="collapse" id="pregunta5">
                            <div class="card card-body mt-0">
                                <p>
                                    <ul>
                                        <li>Dificultad para respirar</li>
                                        <li>Dolor o presión persistente en el pecho</li>
                                        <li>Confusión</li>
                                        <li>Incapacidad de despertarse o permanecer despierto</li>
                                        <li>Piel, labios olechos de uñas pálidos, grises o azulados, según el tono
                                            de la piel</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <a type="button" class="btn btn-primary btnVMas" data-bs-dismiss="modal"
                                ng-click="loadContent('preguntasFrecuentes')">VER MÁS</a>
                        </div>
                    </div>


                </div>
            </div>

        </div>

        <!-- Preguntas Frecuentes -->
        <div class="row mx-0 d-flex justify-content-around" ng-show="show=='preguntasFrecuentes'">

            <!-- <div class="faq_area pt-3"> -->

            <div class="row justify-content-center">
                <div class="col-12 col-sm-8 col-lg-6">

                    <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <h3><span>Preguntas Frecuentes</span></h3><br>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">

                <div class="col-12 col-sm-10 col-lg-8">
                    <div class="accordion faq-accordian" id="faqAccordion">
                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s"
                            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingOne">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">Tengo una tarjeta electrónica
                                    pero
                                    no dispongo de un lector de tarjetas, ¿cómo puedo coger una cita?<span
                                        class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapseOne" aria-labelledby="headingOne"
                                data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>Aunque tengas una tarjeta electrónica, tienes que identificarte mediante el
                                        número de la tarjeta y tu fecha de nacimiento.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingTwo">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="true" aria-controls="collapseTwo">¿Puedo acceder con el DNI
                                    electrónico o la tarjeta de ciudadano o ciudadana?<span
                                        class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo"
                                data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>No. En la actualidad, sólo se puede acceder identificándose mediante el
                                        número de
                                        la tarjeta y la fecha de nacimiento, independientemente de la tarjeta que
                                        tengas
                                        (ONA, Tarjeta Sanitaria Electrónica o TIS).</p>
                                </div>
                            </div>
                        </div>
                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingThree">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="true" aria-controls="collapseThree">¿Puedo consultar o anular una
                                    cita previa por la web de Osakidetza?<span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapseThree" aria-labelledby="headingThree"
                                data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>Para consultar o anular la cita debes acceder a la aplicación introduciendo
                                        tu
                                        número de TIS y fecha de nacimiento y seleccionar la opción “Consultar o
                                        anular
                                        mis citas”. Tras rellenar el campo “Código de Cita” con el código que se
                                        entregó
                                        al pedir la cita por la web, aparecerá en pantalla la cita correspondiente
                                        al
                                        código introducido, así pudiendo anularla.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingfour">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapsfour"
                                    aria-expanded="true" aria-controls="collapsfour">¿Puedo modificar por medio de
                                    la
                                    web de Osakidetza la fecha de la cita?<span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapsfour" aria-labelledby="headingfour"
                                data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>No se puede modificar una cita. Debes anularla y realizar una nueva reserva
                                        de
                                        cita previa.</p>
                                </div>
                            </div>
                        </div>


                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingfive">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapsefive"
                                    aria-expanded="true" aria-controls="collapsefive">¿Con qué profesionales puedo
                                    reservar una cita?<span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapsefive" aria-labelledby="headingfive"
                                data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>En la aplicación, una vez escojas “Pedir una nueva cita” se dará la opción de
                                        solicitarla para los siguientes profesionales según corresponda:
                                        <ul>
                                            <li>Médico o médica de cabecera</li>
                                            <li>Pediatra</li>
                                            <li>Matrona</li>
                                            <li>Enfermería (pediátrica y/o de adultos)</li>
                                        </ul>
                                    </p>

                                </div>
                            </div>
                        </div>


                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingsix">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapsesix"
                                    aria-expanded="true" aria-controls="collapsesix">¿Cómo puedo realizar la cita
                                    previa con pediatra para mi hijo o hija?<span class="lni-chevron-up"></span>
                                </h6>
                            </div>
                            <div class="collapse" id="collapsesix" aria-labelledby="headingsix"
                                data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>Todas las personas, independientemente de su edad, tienen su propia TIS
                                        (Tarjeta
                                        Individual Sanitaria). Para reservar cita a tu hijo o hija debes, por tanto,
                                        utilizar la TIS del niño o de la niña siguiendo el procedimiento general.
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingseven">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseseven"
                                    aria-expanded="true" aria-controls="collapseseven">¿Qué debo hacer si aparecen
                                    mal
                                    los datos de mi médico o médica al intentar realizar una reserva de cita
                                    previa?<span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapseseven" aria-labelledby="headingseven"
                                data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>En caso de que los datos no aparezcan correctamente, debes ponerte en
                                        contacto
                                        con tu centro de salud para actualizarlos.</p>
                                </div>
                            </div>
                        </div>


                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="uheadingeight">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseeight"
                                    aria-expanded="true" aria-controls="collapseeight">El sistema dice que he
                                    superado
                                    el límite de citas¿qué significa?<span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapseeight" aria-labelledby="headingeight"
                                data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>Actualmente existe un límite de citas pendientes para poder coger una cita
                                        por la
                                        web. Este límite es:
                                        <ul>
                                            <li>Máximo de 2 citas pendientes por profesional en el mismo día, por
                                                cada
                                                paciente.</li>
                                            <li>Máximo de 12 citas pendientes a futuro por profesional, por cada
                                                paciente.
                                            </li>
                                        </ul>
                                        Si se supera este número, se mostrará un mensaje indicando que se ha
                                        superado el
                                        límite de citas. Para poder coger una nueva, tendrás que ponerte en contacto
                                        con tu
                                        centro de salud.</p>
                                </div>
                            </div>
                        </div>


                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingnine">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapsenine"
                                    aria-expanded="true" aria-controls="collapsenine">He intentado coger una cita y
                                    me
                                    indica que no ha sido posible,que me ponga en contacto con mi centro de
                                    salud.¿Esto
                                    a qué es debido?<span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapsenine" aria-labelledby="headingnine"
                                data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>A veces por saturaciones puntuales del sistema de reserva de cita médica a
                                        través
                                        de la web de Perulabs, se puede dar el caso de que se le indique que debe
                                        ponerse en contacto con tu centro de salud para tener una cita.</p>
                                </div>
                            </div>
                        </div>


                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingten">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseten"
                                    aria-expanded="true" aria-controls="collapseten">El sistema dice que de forma
                                    temporal no podré acceder a este servicio.¿Qué siginfica?<span
                                        class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapseten" aria-labelledby="headingten"
                                data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>Se está llevando a cabo un proceso de reordenación en su centro de salud para
                                        mejorar la atención. Por ello, se han tenido que bloquear aquellas plazas
                                        involucradas en el proceso de reestructuración, ocasionando que no se puedan
                                        coger citas en la web para dichas plazas.

                                        Para coger una cita deberá ponerse en contacto con su centro de salud, donde
                                        le
                                        podrán informar de los plazos de dicha reordenación.</p>
                                </div>
                            </div>
                        </div>


                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingeleven">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseeleven"
                                    aria-expanded="true" aria-controls="collapseeleven">¿Puedo pedir una cita
                                    mediante la
                                    App de Perulabs?<span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapseeleven" aria-labelledby="headingeleven"
                                data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>La App de Perulabs es un contenedor de varias App como son la Carpeta de
                                        Salud,
                                        Mi Tratamiento y Cita Previa entre otras.

                                        Mediante la APP de Cita Previa no sólo se puede pedir cita, sino que además
                                        se
                                        pueden guardar diferentes perfiles de usuario (otros familiares), y así cada
                                        vez
                                        que queramos pedir una cita, no tendremos que introducir el número de TIS y
                                        la
                                        fecha de nacimiento, basta con seleccionar el usuario y seguir los pasos.

                                        Además podemos descargarnos la cita con el código de la misma para tenerlo
                                        en
                                        caso de necesidad o añadir la cita al calendario de nuestro Smartphone.</p>
                                </div>
                            </div>
                        </div>


                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingtwelve">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapsetwelve"
                                    aria-expanded="true" aria-controls="collapsetwelve">Quiero anular una cita y no
                                    tengo
                                    el código de la misma,¿Qué puedo hacer?<span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapsetwelve" aria-labelledby="headingtwelve"
                                data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>El código de la cita es un requisito legal para poder gestionar una cita ya
                                        que
                                        si no, un tercero podría acceder a nuestras citas a través del número de TIS
                                        y
                                        la fecha de nacimiento.

                                        Es por ello que debemos guardarlo o anotarlo cuando cogemos una cita.

                                        En caso de no haberlo hecho podemos recuperarlo accediendo a la Carpeta de
                                        Salud
                                        dentro de la pestaña de “próximas citas” o mediante la APP de Cita Previa si
                                        hemos descargado nuestra cita a la hora de pedirla.

                                        En el caso de no ser posible lo anterior tenemos que contactar con el centro
                                        de
                                        salud para gestionar la cita.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>

        <!-- VER VACUNAS -->
        <div class="row mx-0 d-flex justify-content-around" ng-show="show=='verVacunas'">

            <h3>Registro de Vacunas</h3>

            <div class="list-group" ng-repeat='vacuna in usuario.objVacunacion'>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <p class="m-0">El paciente ha recibido {{vacuna.dosis}} de la vacuna {{vacuna.objVacuna.nombre}}.
                        Última fecha registreada {{vacuna.fecha_ultima_vacuna}}</p>
                    <button class="btn btn-primary">Generar Informe</button>
                </li>
            </div>

        </div>

        <!-- VER CITAS -->
        <div class="row mx-0 d-flex justify-content-around" ng-show="show=='verCitas'">

            <h3>Registro de citas</h3>

            <div class="list-group" ng-repeat='cita in usuario.objCita'>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <p class="m-0">Cita realizada en {{cita.fecha}} a las {{cita.hora}}. Nº de Sanitario asignado:
                        {{cita.cod_sanitario}}</p>
                    <button class="btn btn-primary">Generar Informe</button>
                </li>
            </div>

        </div>

        <!-- PEDIR CITA -->
        <div class="row mx-0 d-flex justify-content-around" ng-show="show=='pedirCita'">

            <div class="col-4 border">
                <h1>{{ usuario.nombre }}</h1>
            </div>

            <div class="col-8">
                <div class="form-outline mb-4">
                    <label class="form-label">Centro asignado:</label>
                    <input type="text" class="form-control" disabled value="{{ usuario.objCentro.nombre }}" />
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label">Selecciona la fecha:</label>
                    <input type="date" class="form-control" ng-model="newFechaCita"
                        ng-change="getHoraByFechaCentro()" />
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label">Selecciona la hora:</label><br>
                    <button class="btn btn-primary" ng-repeat='horario in horarios'
                        ng-click='pedirCita()'>{{ horario || '00:00' }}</button>
                </div>
            </div>

            <button class="btn btn-primary mt-5">Generar PDF</button>

            <div class="col-12 border mt-5 text-center">
                <h1>DOCUMENTO PDF</h1>
                <p>...Proximamente</p>
            </div>


        </div>

    </div>
    <!-- Contenido -->

</body>
<!--SCRIPTS-->
<script src="https://kit.fontawesome.com/c4fc8a3024.js"></script>
<script src="../js/jquery-3.6.0.js"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
<!-- ANGULAR MATERIAL -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.min.js"></script>
<!-- ANGULAR MATERIAL -->
<script src="../js/extranet.js"></script>
<script src="https://kit.fontawesome.com/c4fc8a3024.js"></script>
<script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>



</html>