<footer class='footer'>
    <div class='container bottom_border'>
        <div class='row justify-content-md-center p-3'>
            <div class=' col-sm-4 col-md  col-6 col' id="bloque">
                <h5 class='headin5_amrc col_white_amrc pt2'>Perulabs</h5>
                <ul class='footer_ul_amrc'>
                    <li><a href='https://www.osakidetza.euskadi.eus/osakidetza-es/-/conozca-osakidetza/'>Conocenos</a></li>
                    <li><a href='https://www.osakidetza.euskadi.eus/tu-centro-sanitario/-/servicio-de-atencion-al-paciente-y-usuario/'>Servicio de Atención</a></li>
                    <li><a href='https://www.osakidetza.euskadi.eus/transparencia-buen-gobierno/-/osakidetza-transparencia-buen-gobierno/'>Transparencia y Buen Gobireno</a></li>
                    <li><a href='https://www.osakidetza.euskadi.eus/osakidetza-es/-/proteccion-de-datos-de-caracter-personal-en-osakidetza/'>Proteccion de datos</a></li>
                </ul>
            </div>
            <div class=' col-sm-4 col-md col-sm-4  col-6 col'id="bloque">
                <h5 class='headin5_amrc col_white_amrc pt2'>Secciones</h5>
                <ul class='footer_ul_amrc'>
                    <li><a href='https://www.osakidetza.euskadi.eus/osasun-eskola-portada/-/tu-portal-de-salud-y-vida-sana/'>Escuela de salud</a></li>
                    <li><a href='https://www.osakidetza.euskadi.eus/portada-profesionales/'>Profesionales</a></li>
                    <li><a href='https://www.osakidetza.euskadi.eus/servicios-on-line/-/servicios-para-empresas/'>Para empresas</a></li>
                    <li><a href='https://www.osakidetza.euskadi.eus/profesionales/-/informacion/formacion-sanit-especializada/#1988'>Formación Sanitaria Especializada</a></li>
                </ul>
            </div>
            <div class=' col-sm-4 col-md col-sm-4  col-6 col'id="bloque">
                <h5 class='headin5_amrc col_white_amrc pt2'>Accesos directos</h5>
                <ul class='footer_ul_amrc'>
                    <li><a href='https://zitaberria.osakidetza.eus/o22PlamWar/iniciologin.do?&idioma=cas'>Cita previa</a></li>
                    <li><a href='https://www.osakidetza.euskadi.eus/tu-centro-sanitario-buscador/-/buscador-de-centros-sanitarios-y-hospitales/'>Busca tu centro</a></li>
                    <li><a href='https://micarpetasaludberria.osakidetza.eus/web/guest/acceso'>Carpeta de Salud</a></li>
                    <li><a href='https://www.osakidetza.euskadi.eus/servicios-on-line/-/servicios-a-la-ciudadania/'>Servicio online</a></li>
                    <li><a href='https://www.osakidetza.eus/sites/Intranet/es/Paginas/default.aspx'>Intranet corporativa</a></li>
                </ul>
            </div>
            <div class=' col-sm-4 col-md col-sm-4  col-6 col'id="bloque">
                <h5 class='headin5_amrc col_white_amrc pt2'>Información general</h5>
                <ul class='footer_ul_amrc'>
                    <li><a href='https://www.osakidetza.euskadi.eus/osakidetza-es/-/contacta-con-osakidetza/'>Contacto</a></li>
                    <li><a href='https://www.osakidetza.euskadi.eus/osakidetza-es/-/mapa-web-osakidetza/'>Mapa web</a></li>
                    <li><a href='https://www.euskadi.eus/informacion/-/accesibilidad-euskadieus/'>Accesibilidad</a></li>
                    <li><a href='https://www.euskadi.eus/sede-electronica/'>Sede electrónica</a></li>
                    <li><a href='https://www.euskadi.eus/informacion/-/informacion-legal/'>Información legal</a></li>
                </ul>
            </div>
        </div>
        <br>
    </div>
    <div class='container'> <br>
        <p class='text-center'>Copyright © | Todos los derechos reservados por <a
                href='https://linktr.ee/e_alvarez'>Talde.3</a> Limited</p>
        <p class='text-center'>Lorea Hernandez,Marcelo Quiroga,Aitzol Estevez,Joseba Carrera y Ekaitz Alvarez</p>
    </div>
</footer>