<html lang="es" ng-app='reto_covid_intranet'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="../Bootstrap/bootstrap-5.1.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/index.css">

    <title>Página de Inicio</title>
</head>

<body ng-controller="body">

    <!-- PaneLateral -->
    <div id="paneLateral" class='fixed-top' style="width: 250px; background-color: #036666; height: 100%;">
        <h1 class="fs-3 p-2 text-white">{{ usuario.nombre }} {{ usuario.apellido }} </h1>
        
        <ul class="nav nav-pills flex-column mb-auto px-2">

            <li class="border-top border-bottom" ng-click="loadContent('COVID')"> <!-- COVID -->
                <a href="" class="nav-link text-white">
                    <i class="fa fa-virus fs-5"></i>
                    <span class="fs-5">COVID</span>
                </a>
            </li>

        </ul>
              
    </div>
    <!-- PaneLateral -->

    <!-- Contenido -->
    <div id="contenido" style='margin-left: 250px;'>
        
        <div class="row mx-0" ng-show="show=='COVID'">
           
            <div class="row mx-0 p-2 border"> <!-- DATOS TITULO -->
                <div class="col">DOSIS</div>
                <div class="col">VACUNA</div>
                <div class="col">LUGAR</div>
                <div class="col">FECHA</div>
            </div>

            <div class="row"> <!-- DATOS AutoGen -->
                
            </div>

        </div>

    </div>
    <!-- Contenido -->

</body>
<!--SCRIPTS-->
<script src="https://kit.fontawesome.com/c4fc8a3024.js"></script>
<script src="../js/jquery-3.6.0.js"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/intranet.js"></script>

<script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

</html>