<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ANGULAR MATERIAL -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.2.1/angular-material.min.css">
    <!-- ANGULAR MATERIAL -->

    <!-- LOCAL CSS -->
    <link rel="stylesheet" href="../Bootstrap/bootstrap-5.1.2-dist/css/bootstrap.css">
    <!-- LOCAL CSS -->

    <title>Página de Inicio</title>

</head>

<body>

    <div ng-controller="AppCtrl" ng-cloak="" class="buttondemoBasicUsage" ng-app="MyApp">
        <md-content>
      
          <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
            <md-button>Button</md-button>
            <md-button md-no-ink="" class="md-primary">Primary (md-noink)</md-button>
            <md-button ng-disabled="true" class="md-primary">Disabled</md-button>
            <md-button class="md-warn">Warn</md-button>
            <div class="label">Flat</div>
          </section>
          <md-divider></md-divider>
        </md-content>
      </div>

</body>

<!-- LOCAL JS -->
<script src="https://kit.fontawesome.com/c4fc8a3024.js"></script>
<script src="../js/jquery-3.6.0.js"></script>
<!-- <script src="../js/angular.min.js"></script> -->
<script src="../js/bootstrap.bundle.min.js"></script>
<!-- LOCAL JS -->

<!-- ANGULAR MATERIAL -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.min.js"></script>
<!-- ANGULAR MATERIAL -->

<script src='../js/test.js'></script>


</html>